@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
	th,td {
		font-family: 'Baloo Bhaijaan', cursive;
		text-align: center;
	}
	tr {
		height:20px;
	}
	.month {
		font-family: 'Baloo Bhaijaan', cursive;
		font-size:40px;
		font-weight: bolder;
		text-align: center;
		padding: 7px;
	}

	#borderimg1 {
		border: 10px solid transparent;
		border-image: linear-gradient(khaki, yellow) 30 30 round;
	}

	#borderimg2 {
		border: 10px solid transparent;
		border-image: linear-gradient(yellow, orange) 30 30 round;
	}

	#borderimg3 {
		border: 10px solid transparent;
		border-image: linear-gradient(orange, gold) 30 30 round;
	}

	#borderimg4 {
		border: 10px solid transparent;
		border-image: linear-gradient(indianred, crimson) 30 30 round;
	}

	#borderimg5 {
		border: 10px solid transparent;
		border-image: linear-gradient(crimson, red) 30 30 round;
	}

	#borderimg6 {
		border: 10px solid transparent;
		border-image: linear-gradient(red, darkred) 30 30 round;
	}

	#borderimg7 {
		border: 10px solid transparent;
		border-image: linear-gradient(lightblue, lightskyblue) 30 30 round;
	}

	#borderimg8 {
		border: 10px solid transparent;
		border-image: linear-gradient(lightskyblue, mediumturquoise) 30 30 round;
	}

	#borderimg9 {
		border: 10px solid transparent;
		border-image: linear-gradient(mediumturquoise, blue) 30 30 round;
	}

	#borderimg10 {
		border: 10px solid transparent;
		border-image: linear-gradient(mediumspringgreen, mediumseagreen ) 30 30 round;
	}

	#borderimg11 {
		border: 10px solid transparent;
		border-image: linear-gradient(mediumseagreen, green) 30 30 round;
	}

	#borderimg12 {
		border: 10px solid transparent;
		border-image: linear-gradient(green, olive) 30 30 round;
	}
